*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    border: 25px solid black;
    height: 111vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.clock{
    margin: 20px auto;
    border: 2px solid rgb(25, 83, 13);
    width: 435px;
    height: 435px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 83, 13);
    box-shadow: 15px 15px 40px  rgb(0,0,0,10) inset,-15px -15px 40px ;
}

.clock span{
    /*border: 2px solid black;*/
    position: absolute;
    transform: rotate(calc(var(--i)*30deg));
    inset:6px;
    text-align: center;
}

.clock span b{
    display: inline-block;
    transform: rotate(calc(var(--i)*-30deg));
    font-size: 25px;
    color: green;
}
.hands{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hands i{
    border: 1px solid black;
    height: calc(var(--h));
    background-color: var(--clr);
    position:absolute;
    width: 8px;
    border-radius: 10px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    z-index: 2;
    background-color: black;
}


